n8n/API - Mark Words New Batch.json
{
  "id": "XTAGrZwvvoKgsRm5",
  "name": "API - Mark Words New Batch",
  "active": true,
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "path": "mark-new-batch",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-process",
      "name": "Process Word IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0],
      "parameters": {
        "jsCode": "// Get word IDs from request body\nconst wordIds = $input.first().json.body.wordIds || [];\n\nif (!wordIds.length) {\n  return [{ json: { error: 'No word IDs provided', updated: 0 } }];\n}\n\n// Return items for batch update\nreturn wordIds.map(id => ({\n  json: {\n    _id: id,\n    stage: 'new',\n    trainDate: new Date()\n  }\n}));"
      }
    },
    {
      "id": "mongo-update",
      "name": "MongoDB: Update Words",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [448, 0],
      "parameters": {
        "operation": "update",
        "collection": "words",
        "updateKey": "_id",
        "fields": "stage,trainDate",
        "options": {}
      },
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "code-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, 0],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updated = items.length;\n\nreturn [{ json: {\n  success: true,\n  updated: updated,\n  message: `Marked ${updated} words as new`\n} }];"
      }
    },
    {
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [896, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {"name": "Access-Control-Allow-Origin", "value": "*"},
              {"name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS"},
              {"name": "Access-Control-Allow-Headers", "value": "Content-Type"}
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Process Word IDs", "type": "main", "index": 0}]]},
    "Process Word IDs": {"main": [[{"node": "MongoDB: Update Words", "type": "main", "index": 0}]]},
    "MongoDB: Update Words": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]},
    "Format Response": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
