n8n/API - Update Word Stage.json
{
  "name": "API - Update Word Stage",
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "path": "update-word-stage",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "code-get-params",
      "name": "Get Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst wordId = item.query?.wordId || item.wordId;\nconst newStage = item.query?.stage || item.stage || 'new';\n\nif (!wordId) {\n  return [{ json: { error: 'wordId required' } }];\n}\n\nreturn [{ json: { wordId, newStage } }];"
      }
    },
    {
      "id": "mongo-update",
      "name": "MongoDB: Update Stage",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [448, 0],
      "parameters": {
        "operation": "update",
        "collection": "words",
        "updateKey": "_id",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "_id",
              "fieldValue": "={{ $json.wordId }}"
            },
            {
              "fieldId": "stage",
              "fieldValue": "={{ $json.newStage }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "mongoDb": {
          "id": "p5lVP30sDORJCo8v",
          "name": "MongoDB account"
        }
      }
    },
    {
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [672, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, wordId: $('Get Parameters').item.json.wordId, stage: $('Get Parameters').item.json.newStage } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {"name": "Access-Control-Allow-Origin", "value": "*"}
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Get Parameters", "type": "main", "index": 0}]]},
    "Get Parameters": {"main": [[{"node": "MongoDB: Update Stage", "type": "main", "index": 0}]]},
    "MongoDB: Update Stage": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
