n8n/API - Get Today's Digests.json
{
  "name": "API - Get Today's Digests",
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "path": "get-digests",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "digest-api-webhook"
    },
    {
      "id": "datatable-1",
      "name": "Get Latest Digest",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [470, 300],
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "JnVde1xTjaVHMlMx",
          "mode": "id"
        },
        "limit": 1,
        "sort": {
          "sortRules": [
            {
              "keyName": "createdAt",
              "order": "desc"
            }
          ]
        }
      }
    },
    {
      "id": "code-format",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300],
      "parameters": {
        "jsCode": "const digest = items[0].json;\n\nreturn [{ json: {\n  digest: {\n    id: digest.id,\n    text: digest.text || '',\n    russianText: digest.translation || '',\n    createdAt: digest.createdAt\n  }\n}}];"
      }
    },
    {
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Latest Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Digest": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "2EKNwlPxAZoJQnrQ",
  "tags": []
}
