n8n/clicker_app_workflow.json
{
    "name": "Smart Funnel: Stage 2 (Bulk Clicker App) - IMPROVED",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "word-clicker/submit",
                "options": {}
            },
            "id": "submit-webhook",
            "name": "Webhook: Submit",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                380,
                600
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "approved",
                "options": {}
            },
            "id": "split-approved",
            "name": "Approved Words",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                580,
                500
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "words",
                "updateKey": "_id",
                "fields": "stage",
                "updateFields": "={\n  \"$set\": {\n    \"stage\": \"checked\"\n  }\n}"
            },
            "id": "mongo-approve",
            "name": "MongoDB: Approve",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                780,
                500
            ],
            "credentials": {
                "mongoDb": {
                    "id": "p5lVP30sDORJCo8v"
                }
            }
        },
        {
            "parameters": {
                "fieldToSplitOut": "rejected",
                "options": {}
            },
            "id": "split-rejected",
            "name": "Rejected Words",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                580,
                700
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "words",
                "updateKey": "_id",
                "fields": "stage",
                "updateFields": "={\n  \"$set\": {\n    \"stage\": \"new\"\n  }\n}"
            },
            "id": "mongo-reject",
            "name": "MongoDB: Reject (Back to New)",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                780,
                700
            ],
            "credentials": {
                "mongoDb": {
                    "id": "p5lVP30sDORJCo8v"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "OK",
                "options": {}
            },
            "id": "respond-ok",
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                980,
                600
            ]
        },
        {
            "parameters": {
                "path": "word-clicker",
                "options": {}
            },
            "id": "serve-webhook",
            "name": "Webhook: Serve App",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                380,
                350
            ]
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\nconst html = fs.readFileSync('c:/projects/aijarvis/n8n/clicker_app.html', 'utf8');\nreturn [{ json: { html } }];"
            },
            "id": "read-html-code",
            "name": "Read HTML File",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                580,
                350
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.html }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/html"
                            }
                        ]
                    }
                }
            },
            "id": "respond-html",
            "name": "Respond with HTML",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                780,
                350
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 9
                        },
                        {
                            "triggerAtHour": 18
                        }
                    ]
                }
            },
            "id": "trigger-id",
            "name": "Schedule: Daily Sieve",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                380,
                150
            ]
        },
        {
            "parameters": {
                "operation": "find",
                "collection": "words",
                "query": "={ \"stage\": \"sieved\" }",
                "options": {
                    "limit": 15
                }
            },
            "id": "mongo-find-id",
            "name": "MongoDB: Get Sieved",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                580,
                150
            ],
            "credentials": {
                "mongoDb": {
                    "id": "p5lVP30sDORJCo8v"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const words = items.map(i => ({\n  _id: i.json._id,\n  word: i.json.word,\n  translate: i.json.translate\n}));\n\nconst data = Buffer.from(JSON.stringify(words)).toString('base64');\n// Replace this with your actual n8n public URL\nconst appUrl = `https://YOUR_N8N_URL/webhook/word-clicker?data=${data}`;\n\nreturn [{ json: { appUrl, count: words.length } }];"
            },
            "id": "gen-url-id",
            "name": "Generate App URL",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                780,
                150
            ]
        },
        {
            "parameters": {
                "chatId": "YOUR_CHAT_ID",
                "text": "=Found {{ $json.count }} new words in the news today! \n\nSelect words you'd like to practice:",
                "replyMarkup": "inline_keyboard",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "buttons": [
                                {
                                    "text": "🚀 Open Word Sieve",
                                    "url": "={{ $json.appUrl }}"
                                }
                            ]
                        }
                    ]
                }
            },
            "id": "tg-notify-id",
            "name": "Telegram: Send App Link",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                980,
                150
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CRED_ID"
                }
            }
        }
    ],
    "connections": {
        "Webhook: Submit": {
            "main": [
                [
                    {
                        "node": "Approved Words",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Rejected Words",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Approved Words": {
            "main": [
                [
                    {
                        "node": "MongoDB: Approve",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB: Approve": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rejected Words": {
            "main": [
                [
                    {
                        "node": "MongoDB: Reject (Back to New)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB: Reject (Back to New)": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook: Serve App": {
            "main": [
                [
                    {
                        "node": "Read HTML File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read HTML File": {
            "main": [
                [
                    {
                        "node": "Respond with HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule: Daily Sieve": {
            "main": [
                [
                    {
                        "node": "MongoDB: Get Sieved",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB: Get Sieved": {
            "main": [
                [
                    {
                        "node": "Generate App URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate App URL": {
            "main": [
                [
                    {
                        "node": "Telegram: Send App Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}