n8n/clicker_workflow.json
{
    "name": "Smart Funnel: Stage 2 (The Clicker)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 9
                        },
                        {
                            "triggerAtHour": 18
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                380,
                240
            ],
            "id": "schedule-id",
            "name": "Check for Sieved Words"
        },
        {
            "parameters": {
                "operation": "find",
                "collection": "words",
                "query": "={ \"stage\": \"sieved\" }",
                "options": {
                    "limit": 5
                }
            },
            "name": "Get Sieved Words",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                580,
                240
            ],
            "id": "mongo-find-sieved",
            "credentials": {
                "mongoDb": {
                    "id": "YOUR_MONGO_CREDENTIAL_ID"
                }
            }
        },
        {
            "parameters": {
                "chatId": "YOUR_TELEGRAM_CHAT_ID",
                "text": "=Found a new word in today's news:\n\n🇬🇧 *{{ $json.word }}*\n🇷🇺 {{ $json.translate }}\n\nMove to active practice?",
                "replyMarkup": "inline_keyboard",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "buttons": [
                                {
                                    "text": "✅ Yes",
                                    "callbackData": "=checked|{{ $json._id }}"
                                },
                                {
                                    "text": "❌ No",
                                    "callbackData": "=skip|{{ $json._id }}"
                                }
                            ]
                        }
                    ]
                },
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                780,
                240
            ],
            "id": "tg-send-id",
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CREDENTIAL_ID"
                }
            }
        },
        {
            "parameters": {
                "updates": [
                    "callback_query"
                ]
            },
            "name": "Telegram Callback Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                380,
                460
            ],
            "id": "tg-trigger-id",
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CREDENTIAL_ID"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = items[0].json.callback_query.data;\nconst [action, id] = data.split('|');\nreturn [{ json: { action, id } }];"
            },
            "name": "Parse Callback",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                580,
                460
            ],
            "id": "parse-code-id"
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "words",
                "updateKey": "_id",
                "fields": "stage",
                "updateFields": "={\n  \"$set\": {\n    \"stage\": \"{{ $json.action == 'checked' ? 'checked' : 'new' }}\"\n  }\n}"
            },
            "name": "Update Word Stage",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                780,
                460
            ],
            "id": "mongo-update-stage",
            "credentials": {
                "mongoDb": {
                    "id": "YOUR_MONGO_CREDENTIAL_ID"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $node[\"Telegram Callback Trigger\"].json.callback_query.message.chat.id }}",
                "text": "=Done! Word is now {{ $json.action == 'checked' ? 'Active' : 'Skipped' }}.",
                "replyToMessageId": "={{ $node[\"Telegram Callback Trigger\"].json.callback_query.message.message_id }}"
            },
            "name": "Confirm Update",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                980,
                460
            ],
            "id": "tg-confirm-id",
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CREDENTIAL_ID"
                }
            }
        }
    ],
    "connections": {
        "Check for Sieved Words": {
            "main": [
                [
                    {
                        "node": "Get Sieved Words",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Sieved Words": {
            "main": [
                [
                    {
                        "node": "Send to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Callback Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Callback": {
            "main": [
                [
                    {
                        "node": "Update Word Stage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Word Stage": {
            "main": [
                [
                    {
                        "node": "Confirm Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}