n8n/clicker_app_workflow.json
{
    "name": "Smart Funnel: Flashcard Clicker",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 9
                        },
                        {
                            "triggerAtHour": 18
                        }
                    ]
                }
            },
            "id": "node-1-id",
            "name": "Schedule: Daily Sieve",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                200,
                200
            ]
        },
        {
            "parameters": {
                "operation": "find",
                "collection": "words",
                "query": "={ \"stage\": \"sieved\" }",
                "options": {
                    "limit": 20
                }
            },
            "id": "node-2-id",
            "name": "MongoDB: Get Sieved",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1.1,
            "position": [
                400,
                200
            ],
            "credentials": {
                "mongoDb": {
                    "id": "p5lVP30sDORJCo8v"
                }
            }
        },
        {
            "parameters": {
                "chatId": "940676896",
                "text": "=🇬🇧 **{{ $json.word }}**",
                "replyMarkup": "inline_keyboard",
                "inlineKeyboard": "={{ [[{ \"text\": \"👁 Перевод\", \"callback_data\": \"show|\" + $json._id }, { \"text\": \"🔁 На доизучение\", \"callback_data\": \"skip|\" + $json._id }]] }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "node-3-id",
            "name": "Telegram: Send Flashcard",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                600,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CRED_ID"
                }
            }
        },
        {
            "parameters": {
                "updates": [
                    "callback_query"
                ]
            },
            "id": "node-4-id",
            "name": "Telegram: Button Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                200,
                450
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CRED_ID"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = $json.callback_query.data;\nif (!data) return [];\n\nconst [action, id] = data.split('|');\nreturn [{ json: { action, _id: id, original: $json } }];"
            },
            "id": "node-5-id",
            "name": "Parse Callback",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                450
            ]
        },
        {
            "parameters": {
                "operation": "findOne",
                "collection": "words",
                "query": "={ \"_id\": { \"$oid\": \"{{ $json._id }}\" } }",
                "options": {}
            },
            "id": "node-6-id",
            "name": "MongoDB: Get Word Data",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1.1,
            "position": [
                600,
                450
            ],
            "credentials": {
                "mongoDb": {
                    "id": "p5lVP30sDORJCo8v"
                }
            }
        },
        {
            "parameters": {
                "operation": "editMessageText",
                "chatId": "={{ $node[\"Parse Callback\"].json.original.callback_query.message.chat.id }}",
                "messageId": "={{ $node[\"Parse Callback\"].json.original.callback_query.message.message_id }}",
                "text": "=🇬🇧 **{{ $json.word }}** — 🇷🇺 {{ $json.translate }}",
                "replyMarkup": "inline_keyboard",
                "inlineKeyboard": "={{ [[{ \"text\": \"✅ Yes\", \"callback_data\": \"checked|\" + $json._id }, { \"text\": \"❌ No\", \"callback_data\": \"skip|\" + $json._id }]] }}",
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "node-7-id",
            "name": "TG: Reveal Translation",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                800,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CRED_ID"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "words",
                "updateKey": "_id",
                "fields": "stage",
                "updateFields": "={\"$set\": {\"stage\": \"{{ $node[\"Parse Callback\"].json.action == 'checked' ? 'checked' : 'new' }}\"}}"
            },
            "id": "node-8-id",
            "name": "MongoDB: Update Stage",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1.1,
            "position": [
                800,
                550
            ],
            "credentials": {
                "mongoDb": {
                    "id": "p5lVP30sDORJCo8v"
                }
            }
        },
        {
            "parameters": {
                "resource": "callback",
                "operation": "answer",
                "callbackQueryId": "={{ $node[\"Parse Callback\"].json.original.callback_query.id }}",
                "text": "=Done!",
                "options": {}
            },
            "id": "node-9-id",
            "name": "TG: Answer Callback",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1050,
                450
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CRED_ID"
                }
            }
        }
    ],
    "connections": {
        "Schedule: Daily Sieve": {
            "main": [
                [
                    {
                        "node": "MongoDB: Get Sieved",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB: Get Sieved": {
            "main": [
                [
                    {
                        "node": "Telegram: Send Flashcard",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram: Button Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Callback": {
            "main": [
                [
                    {
                        "node": "MongoDB: Get Word Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB: Get Word Data": {
            "main": [
                [
                    {
                        "node": "TG: Reveal Translation",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "MongoDB: Update Stage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB: Update Stage": {
            "main": [
                [
                    {
                        "node": "TG: Answer Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "TG: Reveal Translation": {
            "main": [
                [
                    {
                        "node": "TG: Answer Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}