n8n/clicker_workflow_direct.json
{
    "name": "Smart Funnel: Stage 2 (Direct Word Clicker)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 9
                        },
                        {
                            "triggerAtHour": 18
                        }
                    ]
                }
            },
            "id": "trigger-id",
            "name": "Schedule: Daily Sieve",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                380,
                150
            ]
        },
        {
            "parameters": {
                "operation": "find",
                "collection": "words",
                "query": "={ \"stage\": \"sieved\" }",
                "options": {
                    "limit": 15
                }
            },
            "id": "mongo-find-id",
            "name": "MongoDB: Get Sieved",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                580,
                150
            ],
            "credentials": {
                "mongoDb": {
                    "id": "p5lVP30sDORJCo8v"
                }
            }
        },
        {
            "parameters": {
                "chatId": "940676896",
                "text": "=🇬🇧 *{{ $json.word }}*\n🇷🇺 {{ $json.translate }}\n\nMove to active practice?",
                "replyMarkup": "inline_keyboard",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "buttons": [
                                {
                                    "text": "✅ Yes",
                                    "callbackData": "={{ 'checked|' + $json[\"_id\"] }}"
                                },
                                {
                                    "text": "❌ No",
                                    "callbackData": "={{ 'skip|' + $json[\"_id\"] }}"
                                }
                            ]
                        }
                    ]
                },
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "id": "tg-notify-id",
            "name": "Telegram: Send Word",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                780,
                150
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CRED_ID"
                }
            }
        },
        {
            "parameters": {
                "updates": [
                    "callback_query"
                ]
            },
            "id": "tg-trigger-id",
            "name": "Telegram: Button Click",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                380,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CRED_ID"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = $json.callback_query.data;\nconst [action, id] = data.split('|');\nreturn [{ json: { action, _id: id } }];"
            },
            "id": "parse-code-id",
            "name": "Parse Choice",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                580,
                400
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-stage",
                            "name": "stage",
                            "value": "={{ $json.action == 'checked' ? 'checked' : 'new' }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherInputFields": true,
                "options": {}
            },
            "id": "set-node-id",
            "name": "Prepare Stage Update",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                780,
                400
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "words",
                "updateKey": "_id",
                "fields": "stage"
            },
            "id": "mongo-update-id",
            "name": "MongoDB: Update Word",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                980,
                400
            ],
            "credentials": {
                "mongoDb": {
                    "id": "p5lVP30sDORJCo8v"
                }
            }
        },
        {
            "parameters": {
                "callbackQueryId": "={{ $('Telegram: Button Click').item.json.callback_query.id }}",
                "options": {
                    "text": "Done!"
                }
            },
            "id": "tg-answer-id",
            "name": "Telegram: Answer Callback",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                1180,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CRED_ID"
                }
            }
        }
    ],
    "connections": {
        "Schedule: Daily Sieve": {
            "main": [
                [
                    {
                        "node": "MongoDB: Get Sieved",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB: Get Sieved": {
            "main": [
                [
                    {
                        "node": "Telegram: Send Word",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram: Button Click": {
            "main": [
                [
                    {
                        "node": "Parse Choice",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Choice": {
            "main": [
                [
                    {
                        "node": "Prepare Stage Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Stage Update": {
            "main": [
                [
                    {
                        "node": "MongoDB: Update Word",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MongoDB: Update Word": {
            "main": [
                [
                    {
                        "node": "Telegram: Answer Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}