n8n/clicker_workflow.json
{
    "name": "Smart Funnel: Stage 2 (The Clicker) - FIXED",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 9
                        },
                        {
                            "triggerAtHour": 18
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                380,
                240
            ],
            "id": "schedule-id",
            "name": "Check for Sieved Words"
        },
        {
            "parameters": {
                "operation": "find",
                "collection": "words",
                "query": "={ \"stage\": \"sieved\" }",
                "options": {
                    "limit": 5
                }
            },
            "name": "Get Sieved Words",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                580,
                240
            ],
            "id": "mongo-find-sieved",
            "credentials": {
                "mongoDb": {
                    "id": "p5lVP30sDORJCo8v"
                }
            }
        },
        {
            "parameters": {
                "chatId": "YOUR_CHAT_ID",
                "text": "=🇬🇧 *{{ $json.word }}*\n🇷🇺 {{ $json.translate }}\n\nMove to exercise?",
                "replyMarkup": "inline_keyboard",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "buttons": [
                                {
                                    "text": "✅ Yes",
                                    "callbackData": "=checked|{{ $json._id }}"
                                },
                                {
                                    "text": "❌ No",
                                    "callbackData": "=skip|{{ $json._id }}"
                                }
                            ]
                        }
                    ]
                },
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send to Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.1,
            "position": [
                780,
                240
            ],
            "id": "tg-send-id",
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CRED_ID"
                }
            }
        },
        {
            "parameters": {
                "updates": [
                    "callback_query"
                ]
            },
            "name": "Telegram Callback Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                380,
                460
            ],
            "id": "tg-trigger-id",
            "credentials": {
                "telegramApi": {
                    "id": "YOUR_TG_CRED_ID"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = items[0].json.callback_query.data;\nconst [action, id] = data.split('|');\n// IMPORTANT: use _id with underscore for MongoDB\nreturn [{ json: { action, _id: id } }];"
            },
            "name": "Parse Callback",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                580,
                460
            ],
            "id": "parse-code-id"
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-stage",
                            "name": "stage",
                            "value": "={{ $json.action == 'checked' ? 'checked' : 'new' }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherInputFields": true,
                "options": {}
            },
            "id": "set-node-id",
            "name": "Prepare Stage Update",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                780,
                460
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "words",
                "updateKey": "_id",
                "fields": "stage"
            },
            "name": "Update Word Stage",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                980,
                460
            ],
            "id": "mongo-update-stage",
            "credentials": {
                "mongoDb": {
                    "id": "p5lVP30sDORJCo8v"
                }
            }
        }
    ],
    "connections": {
        "Check for Sieved Words": {
            "main": [
                [
                    {
                        "node": "Get Sieved Words",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Sieved Words": {
            "main": [
                [
                    {
                        "node": "Send to Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Callback Trigger": {
            "main": [
                [
                    {
                        "node": "Parse Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Callback": {
            "main": [
                [
                    {
                        "node": "Prepare Stage Update",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Stage Update": {
            "main": [
                [
                    {
                        "node": "Update Word Stage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}