n8n/n8nBackup.json
{
  "id": "awGj1ThpcV628C7q",
  "name": "n8nBackup",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{}]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "108a99a3-db77-4d24-a2f0-ef5cf24ee21c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [208, 0],
      "id": "801aaf66-7c16-4659-8165-23821ad434cf",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "RgQYRxAhaz2Zzqei",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Sergey0703",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8nbackup",
          "mode": "name"
        },
        "filePath": "=workflows/{{ $json.id }}_{{ $json.name.replace(/[^a-z0-9]/gi, '_') }}_{{ $now.toFormat('yyyy-MM-dd_HH-mm-ss') }}.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "ok"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [416, 0],
      "id": "7c18c934-ee1d-475b-802e-96be326ec1c2",
      "name": "Create a file",
      "credentials": {
        "githubApi": {
          "id": "ThQvhzvihMnmBvfe",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get many workflows", "type": "main", "index": 0}]]
    },
    "Get many workflows": {
      "main": [[{"node": "Create a file", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
