n8n/sieve_workflow_newsapi.json
{
    "name": "News Sieve (NewsAPI.ai)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 6
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -320,
                -48
            ],
            "id": "schedule-trigger",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://newsapi.ai/api/v1/article/getArticles",
                "authentication": "none",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": []
                },
                "specifyBody": "json",
                "jsonBody": "={\n  \"apiKey\": \"{{ $env.NEWSAPI_AI_KEY }}\",\n  \"resultType\": \"articles\",\n  \"articlesSortBy\": \"date\",\n  \"articlesCount\": 10,\n  \"articlesIncludeArticleBody\": true,\n  \"dataType\": [\"news\"],\n  \"lang\": \"eng\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                -112,
                -48
            ],
            "id": "newsapi-request",
            "name": "NewsAPI.ai Request"
        },
        {
            "parameters": {
                "fieldToSplitOut": "articles.results",
                "include": "noOtherFields"
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                96,
                -48
            ],
            "id": "split-results",
            "name": "Split Out"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  // NewsAPI.ai provides clean 'body' field - no HTML!\n  const text = item.json.body || item.json.title || '';\n  \n  // Simple validation: minimum 500 characters\n  if (text.length >= 500) {\n    item.json.cleanText = text;\n  } else {\n    // Reject short/low-quality articles\n    item.json.cleanText = '';\n  }\n  \n  // Extract published date (NewsAPI.ai format: dateTime)\n  item.json.publishedDate = item.json.dateTime || item.json.date;\n}\n\nreturn items;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                304,
                -48
            ],
            "id": "clean-validate",
            "name": "Clean & Validate"
        },
        {
            "parameters": {
                "operation": "upsert",
                "dataTableId": {
                    "__rl": true,
                    "value": "MWNgETzBSi4cAIFo",
                    "mode": "list",
                    "cachedResultName": "News"
                },
                "filters": {
                    "conditions": [
                        {
                            "keyName": "url",
                            "keyValue": "={{ $json.url }}"
                        }
                    ]
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "isDelivered": false,
                        "url": "={{ $json.url }}",
                        "title": "={{ $json.title }}",
                        "text": "={{ $json.cleanText }}",
                        "publishedDate": "={{ $json.publishedDate }}"
                    }
                }
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                512,
                -48
            ],
            "id": "upsert-news",
            "name": "Upsert row(s)"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "NewsAPI.ai Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "NewsAPI.ai Request": {
            "main": [
                [
                    {
                        "node": "Split Out",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out": {
            "main": [
                [
                    {
                        "node": "Clean & Validate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean & Validate": {
            "main": [
                [
                    {
                        "node": "Upsert row(s)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    }
}