n8n/sieve_workflow_full_text.json
{
    "name": "Smart Funnel (Full Text - CORRECT)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 6
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -320,
                -48
            ],
            "id": "schedule-trigger",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "query": "news",
                "options": {
                    "topic": "news",
                    "max_results": 10,
                    "days": 1,
                    "search_depth": "advanced",
                    "include_raw_content": true
                }
            },
            "type": "n8n-nodes-tavily.tavily",
            "typeVersion": 1,
            "position": [
                -112,
                -48
            ],
            "id": "tavily-search",
            "name": "Query to search with tavily",
            "credentials": {
                "tavilyApi": {
                    "id": "nIPqN3hx3KIadVwK",
                    "name": "Tavily account"
                }
            }
        },
        {
            "parameters": {
                "fieldToSplitOut": "results",
                "include": "noOtherFields"
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                96,
                -48
            ],
            "id": "split-results",
            "name": "Split Out"
        },
        {
            "parameters": {
                "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  let text = item.json.raw_content || item.json.content || '';\n  \n  // Remove common HTML noise patterns\n  text = text\n    // Remove navigation menus\n    .replace(/\\[Products\\].*?\\[More\\]/gs, '')\n    .replace(/Main content/g, '')\n    \n    // Remove image markdown\n    .replace(/!\\[Image \\d+\\]\\([^)]+\\)/g, '')\n    \n    // Remove links but keep text\n    .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1')\n    \n    // Remove repeated asterisks (list markers)\n    .replace(/^\\s*\\*+\\s*/gm, '')\n    \n    // Remove common footer/header patterns\n    .replace(/©.*?All Rights Reserved\\.?/gi, '')\n    .replace(/Show more/g, '')\n    .replace(/Login or create.*?account/gi, '')\n    .replace(/Get started/g, '')\n    .replace(/Sign in to read.*?news/gi, '')\n    \n    // Remove excessive newlines\n    .replace(/\\n{3,}/g, '\\n\\n')\n    \n    // Trim whitespace\n    .trim();\n  \n  // Keep full content if substantial (min 200 chars)\n  if (text.length >= 200) {\n    item.json.cleanText = text; // FULL content, no limit\n  } else {\n    item.json.cleanText = item.json.content || text;\n  }\n}\n\nreturn items;"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                -48
            ],
            "id": "clean-html",
            "name": "Clean HTML"
        },
        {
            "parameters": {
                "operation": "upsert",
                "dataTableId": {
                    "__rl": true,
                    "value": "MWNgETzBSi4cAIFo",
                    "mode": "list",
                    "cachedResultName": "News"
                },
                "filters": {
                    "conditions": [
                        {
                            "keyName": "url",
                            "keyValue": "={{ $json.url }}"
                        }
                    ]
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "isDelivered": false,
                        "url": "={{ $json.url }}",
                        "title": "={{ $json.title }}",
                        "text": "={{ $json.cleanText }}",
                        "publishedDate": "={{ $json.published_date }}"
                    }
                }
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                408,
                -48
            ],
            "id": "upsert-news",
            "name": "Upsert row(s)"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Query to search with tavily",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query to search with tavily": {
            "main": [
                [
                    {
                        "node": "Split Out",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out": {
            "main": [
                [
                    {
                        "node": "Clean HTML",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean HTML": {
            "main": [
                [
                    {
                        "node": "Upsert row(s)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    }
}