n8n/sieve_workflow.json
{
    "name": "Smart Funnel: Stage 1 (The Sieve) - FINAL",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "triggerAtHour": 6
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -320,
                -160
            ],
            "id": "a6cc0974-1b74-4bb3-bf69-93842e1bbbc8",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "query": "news",
                "options": {
                    "topic": "news",
                    "max_results": 10,
                    "days": 1
                }
            },
            "type": "n8n-nodes-tavily.tavily",
            "typeVersion": 1,
            "position": [
                -112,
                -160
            ],
            "id": "b24f5145-5c05-4f80-9eca-e4b692a8a49c",
            "name": "Query to search with tavily",
            "credentials": {
                "tavilyApi": {
                    "id": "nIPqN3hx3KIadVwK",
                    "name": "Tavily account"
                }
            }
        },
        {
            "parameters": {
                "fieldToSplitOut": "results",
                "include": "allOtherFields",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                112,
                -260
            ],
            "id": "9db4df6a-b761-4075-b6f3-9bfe80f0fc3c",
            "name": "Split Out"
        },
        {
            "parameters": {
                "operation": "upsert",
                "dataTableId": {
                    "__rl": true,
                    "value": "MWNgETzBSi4cAIFo",
                    "mode": "list",
                    "cachedResultName": "News"
                },
                "filters": {
                    "conditions": [
                        {
                            "keyName": "url",
                            "keyValue": "={{ $json.results.url }}"
                        }
                    ]
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "isDelivered": false,
                        "url": "={{ $json.results.url }}",
                        "title": "={{ $json.results.title }}",
                        "text": "={{ $json.results.content }}",
                        "publishedDate": "={{ $json.results.published_date }}"
                    }
                }
            },
            "type": "n8n-nodes-base.dataTable",
            "typeVersion": 1.1,
            "position": [
                336,
                -260
            ],
            "id": "f8648146-db23-4f05-a320-9fade985fed2",
            "name": "Save to Table"
        },
        {
            "parameters": {
                "jsCode": "const results = items[0].json.results || [];\nconst allText = results.map(r => (r.title || '') + ' ' + (r.content || '')).join(' ');\nconst words = allText.toLowerCase().replace(/[^a-z0-9\\s]/g, '').split(/\\s+/).filter(w => w.length > 3);\nreturn [{ json: { uniqueWords: [...new Set(words)] } }];"
            },
            "name": "Sieve: Extract Words",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                112,
                20
            ],
            "id": "6d9e84b8-7c2a-4f51-873b-57f920da62f2"
        },
        {
            "parameters": {
                "operation": "find",
                "collection": "words",
                "query": "={\n  \"word\": { \"$in\": {{ JSON.stringify($json.uniqueWords) }} },\n  \"stage\": \"new\"\n}",
                "options": {
                    "projection": "{\"word\": 1, \"_id\": 1}"
                }
            },
            "name": "Sieve: Find Matches",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                336,
                20
            ],
            "id": "mongo-find-id",
            "credentials": {
                "mongoDb": {
                    "id": "YOUR_MONGO_CREDENTIAL_ID"
                }
            }
        },
        {
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "assign-date",
                            "name": "trainDate",
                            "value": "={{ new Date().toISOString() }}",
                            "type": "string"
                        },
                        {
                            "id": "assign-stage",
                            "name": "stage",
                            "value": "sieved",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherInputFields": true,
                "options": {}
            },
            "id": "set-node-id",
            "name": "Prepare Update Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                560,
                20
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "collection": "words",
                "updateKey": "_id",
                "fields": "trainDate,stage"
            },
            "name": "Sieve: Move to Stage 'Sieved'",
            "type": "n8n-nodes-base.mongoDb",
            "typeVersion": 1,
            "position": [
                780,
                20
            ],
            "id": "mongo-update-id",
            "credentials": {
                "mongoDb": {
                    "id": "YOUR_MONGO_CREDENTIAL_ID"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Query to search with tavily",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query to search with tavily": {
            "main": [
                [
                    {
                        "node": "Split Out",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Sieve: Extract Words",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Out": {
            "main": [
                [
                    {
                        "node": "Save to Table",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sieve: Extract Words": {
            "main": [
                [
                    {
                        "node": "Sieve: Find Matches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sieve: Find Matches": {
            "main": [
                [
                    {
                        "node": "Prepare Update Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Update Data": {
            "main": [
                [
                    {
                        "node": "Sieve: Move to Stage 'Sieved'",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}