n8n/Smart Funnel.json
{
  "id": "hUXhiKm4HmI3adYq",
  "name": "Smart Funnel",
  "active": true,
  "nodes": [
    {
      "parameters": {"rule": {"interval": [{"triggerAtHour": 6}]}},
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-320, 880],
      "id": "a6cc0974-1b74-4bb3-bf69-93842e1bbbc8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {"query": "news", "options": {"topic": "news", "max_results": 10, "days": 1}},
      "type": "n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [-96, 880],
      "id": "b24f5145-5c05-4f80-9eca-e4b692a8a49c",
      "name": "Query to search with tavily",
      "credentials": {"tavilyApi": {"id": "nIPqN3hx3KIadVwK", "name": "Tavily account"}}
    },
    {
      "parameters": {"fieldToSplitOut": "results", "include": "allOtherFields", "options": {}},
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [128, 880],
      "id": "9db4df6a-b761-4075-b6f3-9bfe80f0fc3c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {"__rl": true, "value": "MWNgETzBSi4cAIFo", "mode": "list", "cachedResultName": "News"},
        "filters": {"conditions": [{"keyName": "url", "keyValue": "={{ $json.results.url }}"}]},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isDelivered": false,
            "url": "={{ $json.results.url }}",
            "title": "={{ $json.results.title }}",
            "text": "={{ $json.results.content }}",
            "publishedDate": "={{ $json.results.published_date }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [352, 880],
      "id": "f8648146-db23-4f05-a320-9fade985fed2",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {"__rl": true, "value": "MWNgETzBSi4cAIFo", "mode": "list", "cachedResultName": "News"},
        "filters": {"conditions": [{"keyName": "createdAt", "condition": "lt", "keyValue": "={{ $today }}"}]},
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [560, 880],
      "id": "7bcdf5b5-e5a5-43f1-998d-dca22f31ff70",
      "name": "Delete row(s)"
    }
  ],
  "connections": {
    "Schedule Trigger": {"main": [[{"node": "Query to search with tavily", "type": "main", "index": 0}]]},
    "Query to search with tavily": {"main": [[{"node": "Split Out", "type": "main", "index": 0}]]},
    "Split Out": {"main": [[{"node": "Upsert row(s)", "type": "main", "index": 0}]]},
    "Upsert row(s)": {"main": [[{"node": "Delete row(s)", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
