n8n/Telegram CallBack.json
{
  "id": "GSPjxrD7CcqjYU1n",
  "name": "Telegram CallBack",
  "active": true,
  "nodes": [
    {
      "parameters": {"updates": ["callback_query"], "additionalFields": {}},
      "id": "bd33218a-fac3-4dc7-868b-46af169b80e7",
      "name": "Telegram: Button Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-720, -128],
      "credentials": {"telegramApi": {"id": "44mDjW8nHCGChobZ", "name": "Telegram account"}}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3},
                "conditions": [{"leftValue": "={{ $json.callback_query.data }}", "rightValue": "skip|", "operator": {"type": "string", "operation": "startsWith"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Repeat"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3},
                "conditions": [{"leftValue": "={{ $json.callback_query.data }}", "rightValue": "quiz|", "operator": {"type": "string", "operation": "startsWith"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Quiz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-496, -128],
      "id": "5f0d5285-cf1b-4952-8519-d6705b6fef7a",
      "name": "Switch"
    },
    {
      "parameters": {"jsCode": "const data = $json.callback_query.data;\nif (!data) return [];\n\nconst [action, id] = data.split('|');\nreturn [{ json: { action, _id: id, original: $json } }];"},
      "id": "d3596515-0bd2-4b3d-b7d5-6d68d5ca9195",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-256, -320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"name": "stage", "value": "repeat", "type": "string"},
            {"name": "_id", "value": "={{ $json._id }}", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-48, -320],
      "id": "d09105ec-1cdb-482d-bc32-fcb145de88ab",
      "name": "Edit Fields"
    },
    {
      "parameters": {"operation": "update", "collection": "words", "updateKey": "_id", "fields": "=stage", "options": {}},
      "id": "529bf853-b9a0-49cd-8f02-bb5467c284b6",
      "name": "MongoDB: Update Stage",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [176, -320],
      "credentials": {"mongoDb": {"id": "p5lVP30sDORJCo8v", "name": "MongoDB account"}}
    },
    {
      "parameters": {"resource": "callback", "queryId": "={{ $('Telegram: Button Trigger').item.json.callback_query.id }}", "additionalFields": {}},
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [384, -320],
      "id": "377381ee-4018-4c9e-ab9d-96c606a77ccf",
      "name": "Answer Query a callback",
      "credentials": {"telegramApi": {"id": "44mDjW8nHCGChobZ", "name": "Telegram account"}}
    },
    {
      "parameters": {"jsCode": "const data = $json.callback_query.data;\nconst parts = data.split(':');\nconst action = parts[0];\nconst wordId = parts[1];\nconst result = parts[2];\n\nif (action !== 'quiz|check') {\n  return { json: { ignore: true } };\n}\n\nreturn { json: { wordId, isCorrect: result === 'correct', chatId: $json.callback_query.message.chat.id, messageId: $json.callback_query.message.message_id, callbackQueryId: $json.callback_query.id } };"},
      "id": "a31b5cf0-f851-4fc2-a981-26e3716efac3",
      "name": "Parse Callback1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-480, 176]
    },
    {
      "parameters": {"collection": "words", "options": {}, "query": "={ \"_id\": \"{{ $json.wordId }}\" }"},
      "id": "154a1dbc-0d2d-45bf-ac88-b3f0b4c220b7",
      "name": "Get Word Info",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [-272, 176],
      "credentials": {"mongoDb": {"id": "p5lVP30sDORJCo8v", "name": "MongoDB account"}}
    },
    {
      "parameters": {"conditions": {"boolean": [{"value1": "={{ $node[\"Parse Callback1\"].json.isCorrect }}", "value2": true}]}},
      "id": "7e44bcc3-ef17-47b4-8d36-03a8eb455899",
      "name": "Is Correct?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-48, 176]
    },
    {
      "parameters": {
        "assignments": {"assignments": [{"name": "stage", "value": "new", "type": "string"}]},
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [176, 64],
      "id": "1f2a16b8-cfed-40d6-b1cf-b83dcc56f700",
      "name": "Edit Fields1"
    },
    {
      "parameters": {"operation": "update", "collection": "words", "updateKey": "_id", "fields": "stage", "options": {}},
      "id": "2ef83d3b-60c8-423c-8031-9d370979418b",
      "name": "Set Stage New",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [384, 64],
      "alwaysOutputData": true,
      "credentials": {"mongoDb": {"id": "p5lVP30sDORJCo8v", "name": "MongoDB account"}}
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $node[\"Parse Callback1\"].json.chatId }}",
        "messageId": "={{ $node[\"Telegram: Button Trigger\"].json[\"callback_query\"][\"message\"][\"message_id\"] }}",
        "text": "=✅ <b>Correct!</b>\n\n🎯 <b>{{ $node[\"Get Word Info\"].json.word }}</b> — {{ $node[\"Get Word Info\"].json.translate }}",
        "additionalFields": {"parse_mode": "HTML"}
      },
      "id": "7ea785a2-2d00-48c5-a4c3-2763511fb654",
      "name": "Edit Correct",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [608, 64],
      "credentials": {"telegramApi": {"id": "44mDjW8nHCGChobZ", "name": "Telegram account"}}
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $node[\"Parse Callback1\"].json.chatId }}",
        "messageId": "={{ $node[\"Telegram: Button Trigger\"].json[\"callback_query\"][\"message\"][\"message_id\"] }}",
        "text": "=❌ <b>Wrong!</b>\n\n🎯 <b>{{ $json.word }}</b> — {{ $json.translate }}\n\nDon't worry, try again later!",
        "additionalFields": {"parse_mode": "HTML"}
      },
      "id": "933dca6b-4292-494e-91fe-ec4532a783c7",
      "name": "Edit Wrong",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [624, 368],
      "credentials": {"telegramApi": {"id": "44mDjW8nHCGChobZ", "name": "Telegram account"}}
    },
    {
      "parameters": {"resource": "callback", "queryId": "={{ $node[\"Parse Callback1\"].json.callbackQueryId }}", "additionalFields": {}},
      "id": "80d888bc-709c-4265-b37f-4e16a7781cc5",
      "name": "Answer Callback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [848, 176],
      "credentials": {"telegramApi": {"id": "44mDjW8nHCGChobZ", "name": "Telegram account"}}
    }
  ],
  "connections": {
    "Telegram: Button Trigger": {"main": [[{"node": "Switch", "type": "main", "index": 0}]]},
    "Switch": {"main": [[{"node": "Parse Callback", "type": "main", "index": 0}], [{"node": "Parse Callback1", "type": "main", "index": 0}]]},
    "Parse Callback": {"main": [[{"node": "Edit Fields", "type": "main", "index": 0}]]},
    "Edit Fields": {"main": [[{"node": "MongoDB: Update Stage", "type": "main", "index": 0}]]},
    "MongoDB: Update Stage": {"main": [[{"node": "Answer Query a callback", "type": "main", "index": 0}]]},
    "Parse Callback1": {"main": [[{"node": "Get Word Info", "type": "main", "index": 0}]]},
    "Get Word Info": {"main": [[{"node": "Is Correct?", "type": "main", "index": 0}]]},
    "Is Correct?": {"main": [[{"node": "Edit Fields1", "type": "main", "index": 0}], [{"node": "Edit Wrong", "type": "main", "index": 0}]]},
    "Edit Fields1": {"main": [[{"node": "Set Stage New", "type": "main", "index": 0}]]},
    "Set Stage New": {"main": [[{"node": "Edit Correct", "type": "main", "index": 0}]]},
    "Edit Correct": {"main": [[{"node": "Answer Callback", "type": "main", "index": 0}]]},
    "Edit Wrong": {"main": [[{"node": "Answer Callback", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
